
.width_accommodation{
    background-color: rgb(215, 215, 224);
    margin: 0 auto;
    width: 100%;
}
.sectiuneaccomodation{
    margin: 0px auto;
    height:100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    
}

.container_accommodation_cards{
    font-size: 14px;
    margin: 20px;
    width: 60%;
    padding-top: 20px;
    height: 100%;
   
}
.items_accommodation{
    width: 100%;
}
.accommodation_item{
   border: rgb(145, 145, 155) 1px solid;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.container_left_accommodation{
   max-width: 220px;
   max-height: 100%;
   margin: 10px;
}
.titlu_accommodation{
    font-size: 27px;
    color: rgb(17, 104, 99);
}
.locatie_accommodation{
    color: rgb(170, 108, 14);
    font-size: 18px;
}
.img_cards_accommodation{
    width: 100%;
}

.container_center_accommodation{
    width: 40%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pret_orientativ_right{
    border-left: rgba(163, 163, 172, 0.699) solid;
    padding: 10px;
    
}
.culoare_pret{
    color: rgb(0, 68, 255);
    font-size: 20px;
    font-weight: 600;
}
.mic_dejun{
    color: green;
}
 @media (max-width:800px){
    .container_accommodation_cards{
        width: 100%;
    }
 }