.slider_accommodation{
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    margin-top: 40px;
    font-size: 17px;
    border: rgb(53, 44, 44) 1px solid;
}
.oferte_cazare{
    margin: 20px;
    border: rgb(129, 112, 112) solid 1px;
}
.oferte_cazare h2{
    margin: 0 7px;
}
.oferte_cazare li{
    list-style: none;
}
.color{
    color: rgb(223, 219, 22);
}
.flex_bifa{
   display: flex;
   align-items: center;
   
}
.input_bifa{
    margin: 5px 10px;
}

@media (max-width:1060px){
    .slider_accommodation{
        display: none;
    }
}

